# pytentd
tentd.db

# Virtualenv
env/

# Compiled python
*.py[cod]
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Editor files
*~
*.swp

# config files for tent
*.cfg
