# Virtualenv
env/

# Compiled python
*.py[cod]
*.so
__pycache__

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
./lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.noseids
nosetests.xml
.cache

# Translations
*.mo

# Editor files
*~
*.swp
