<html>
  <head>
    <link rel="stylesheet" href="{{site.url}}/css/style.css" />
    <link rel="shortcut icon" href="{{site.url}}/img/pytent_favicon-16x16.ico" />
    <link rel="shortcut icon" href="{{site.url}}/img/pytent_favicon-32x32.ico" />
    <title>pytentd {% if page.title %} | {{page.title}} {% endif %}</title>
  </head>
  <body>
    <a href="https://github.com/pytent/pytentd"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>
    <div id="container">
      <img id="logo" src="{{site.url}}/logo.png" />
      <h1><a href="https://github.com/pytent/pytentd">pytentd</a></h1>

      <h2 id="details">A <em>py</em>thon <a href="https://tent.io/"><em>tent</em>.io</a> <em>d</em>aemon</h2>

      <ul id="pytent">
        <li><strong>python</strong> A simple programming language.</li>
        <li><strong>tent.io</strong> A protocol for distributed social networking.</li>
        <li><strong>daemon</strong> A process which runs in the background.</li>
      </ul>
      <hr />

      {{content}}
    </div>
  </body>
</html>
