<html>
  <head>
    <link rel="stylesheet" href="{{site.url}}/css/style.css" />
    <link rel="shortcut icon" href="{{site.url}}/img/pytentd-favicon-16x16.ico" />
    <link rel="shortcut icon" href="{{site.url}}/img/pytentd-favicon-32x32.ico" />
    <title>pytentd {% if page.title %} | {{page.title}} {% endif %}</title>
  </head>
  <body>
    <div id="container">
      <h1><a href="{{site.url}}">pytentd</a></h1>

      <h2 id="details">A <em>py</em>thon <a href="https://tent.io/"><em>tent</em>.io</a> <em>d</em>aemon</h2>

      <hr />

      <h3>{{page.title}}</h3>
      {{content}}
    </div>
  </body>
</html>
